<div class="app-container">
  <!-- Tense blocks -->
  <div id="present">Present</div>
  <div id="past">Past</div>
  <div id="future">Future</div>

  <!-- Tense categories -->
  <div id="simple">Simple</div>
  <div id="continuous">Continuous</div>
  <div id="perfect">Perfect</div>
  <div id="perfect-continuous">Perfect Continuous</div>

  <!-- Present Tenses components-->
  <div id="present-simple">Present Simple</div>
  <div id="present-continuous">Present Continuous</div>
  <div id="present-perfect">Present Perfect</div>
  <div id="present-perfect-continuous">Present Perfect Continuous</div>

  <!-- Past Tenses -->
  <div id="past-simple">Past Simple</div>
  <div id="past-continuous">Past Continuous</div>
  <div id="past-perfect">Past Perfect</div>
  <div id="past-perfect-continuous">Past Perfect Continuous</div>

  <!-- Future Tenses -->
  <div id="future-simple">Future Simple</div>
  <div id="future-continuous">Future Continuous</div>
  <div id="future-perfect">Future Perfect</div>
  <div id="future-perfect-continuous">Future Perfect Continuous</div>
</div>

<router-outlet />
